/* styles */
/* called by your view template */

body {
  font-family: system-ui;
  text-align: center;
  background-color:  #E6E6DC;
}

main {
  background-color: #00628B;
  paddind-top: 50px;
  padding-bottom: 80px;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 100px;
}

input {
  padding: 10px;
}

input[type=submit] {
  padding: 10px 20px;
  background-color: #81A594;
  border: 1px solid grey;
  border-radius: 10px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: gray;
  color: white;
}